html{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body{

    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    color: white;
    /* background-image:linear-gradient(180deg,#070707 10%,#a8a9ac 100%); */
    background:rgb(58,58,58);
    background-size:cover
}


.panel-heading{
    font-size: 18px ;
    font-weight: bolder;
    background-color: rgb(58,58,58) !important;
    color: white !important;
}

.panel-body{
    height: 95px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    background-color: gray;
    color: white;
}

.head-text{
    color: white !important;
}

.head-text :hover{
    color: white;
}

.text-primary{
    color: rgb(195, 176, 145) !important;
}

.text-info{
    color: black !important;
}

.change-page{
    background-color: rgba(220,38,38,0) !important;
    color: rgb(195, 176, 145) !important;
    border: 0px !important;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    text-align: center;
    line-height:23px;
    margin-right: 5%;
}

.btn-primary:hover{
    background-color: red !important;
}

.page-top {
    width:100%;
    height:46px;
    background:rgb(43, 42, 42) !important;
    position: fixed;
    z-index:1;
}


.page-top-bottom {
    height:46px;
    width:100%;
    margin-bottom: 20px;
}

.panel-body{
    height: auto;
    max-height: 200px;
    overflow: hidden;
}

nav .title{
    float: left;
    font-size: 23px;
    margin: 10px 0 0 20px;
}

.search-box{
    float: left;
    vertical-align: bottom;
    margin-left: 20%;
    margin-top: 8px;
    width: 50%;
}

.search-form{
    width: 100%;
}
.serarch-opt{
    color: black;
    float: left;
    height: 34px;
}

.search-text{
    width:73% !important;
}

.btn-search{
    background-color: rgb(43, 42, 42);
    border: 1px solid rgb(43, 42, 42);
    margin-left: 3px;
}

.btn-send{
    background-color: black;
    background-color: rgb(43, 42, 42);
    border: 1px solid rgb(43, 42, 42);
    margin-left: 3px;
}


a{
    color: white;
}

a:hover{
    color: white;
}


footer{
    width: 100%;
    background: black;
    margin-top: 50px;
    padding: 20px 20px;
    font-size: 15px;
    color: gray;
    text-align: center;
}

.btn--gray {
    box-shadow: 0 0 0 1px gray;
    color:white;
    letter-spacing: 2px;
    padding: 0.3em 0.5em;
}
.btn--gray:hover {
    color: rgb(195, 176, 145);;
    box-shadow: 0 27px 55px rgba(255, 255, 255, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15), 0 0 0 1px transparent;
}

.btn--red {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: black;
    letter-spacing: 2px;
    padding: 0.3em 0.5em;
}

.btn--red:hover {
    color: rgb(238, 38, 38);
    box-shadow: 0 27px 55px rgba(0, 0, 0, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15), 0 0 0 1px transparent;
}

.btn--blue {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    color:black;
    letter-spacing: 2px;
    padding: 0.3em 0.5em;
}
.btn--blue:hover {
    color: rgb(79, 154, 252);;
    box-shadow: 0 27px 55px rgba(0, 0, 0, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15), 0 0 0 1px transparent;
}

.badge-danger{
    color:#fff;
    background-color:#e74a3b
}
.badge-counter{
    position:absolute !important;
    transform:scale(.7) !important;
    transform-origin:top right !important;
    right:-.4rem !important;
    margin-top:-.5rem !important
}

